.containers {
    display: flex;
    height: 100vh;
    position: fixed;
}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #fff;
    height: 100vh;
    width: 300px;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
}

.sidebar-expanded {
    width: 400px;
}

.top-section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 35px;
}

.bars {
    font-size: 25px;
    display: flex;
    margin-left: 50px;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 20px;
    gap: 10px;
    transition: background-color 0.5s, color 0.5s;
}

.link:hover {
    background-color: aqua;
    color: #111;
}

.link.active {
    color: #111;
}

.icon .link-text {
    font-size: 20px;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #111;
    padding: 10px 0;
}

.dropdown .btn-drop {
    background: transparent;
    border: none;
    outline: none;
}

/* Animation for sidebar */
.sidebar-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.sidebar-enter.active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.5s, transform 0.5s ease-in-out;
}