.recommended-flex{
    display: flex;
    margin-left: 20rem;
}

.recommended-title{
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn{
    padding: 10px 20px;
    margin-right: 6px;
    background: transparent;
    border: none;
    border-radius: 5px;
    color: #323232;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }