.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px 20px;
}

.container .box{
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin-top: 20px;
    padding: 10px 10px;
    margin-left: 10px;
}

.container .box .content{
    align-items: center;
    max-width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container .box .content .img-box img{
    width: 250px;
    height: 250px;
    
}

.container .box .content .detail .info{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.container .box .content .detail .info h3{
    color: black;
    text-transform: uppercase;
    font-weight: 200;
}

.container .box .content .detail button{
    margin-top: 30px;
    margin-left: 35px;
    padding: 10px 30px;
    border: none;
    outline: none;
    color: #111;
    background-color: rebeccapurple;
    cursor: pointer;
}

.detail-container{
    position: absolute;
    z-index: 1;
    align-items: center;
    width: 500px;
    background-color: red;
    margin-left: 30%;
    margin-top: 20%;
}


.detail-container .detail-content{
    max-width: 100%;
}

.detail-container .detail-content .detail-info{
    display: flex;
    justify-content: space-between;
}

.detail-container .detail-content .detail-info .img-box img{
    width: 250px;
    height: 250px;
}

.detail-container .detail-content .detail-info .product-detail{
    margin-left: 30px;
}